" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Map leader to space
let mapleader = " "

set ideastatusicon=gray
set visualbell

" Scroll offset
set scrolloff=10

" Do incremental searching
set incsearch

" Set relative line numbers
set rnu

" Set clipboard
set clipboard+=unnamed
set clipboard+=unnamedplus
set clipboard+=ideaput

" Enable Which-Key plugin
set which-key
set timeoutlen=5000


" --- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

" Zen
map <leader>z <Action>(ToggleDistractionFreeMode)
" Tabs
map <leader>h <Action>(PreviousTab)
map <leader>l <Action>(NextTab)
map <leader>tc <Action>(CloseContent)
map <leader>tC <Action>(CloseAllEditorsButActive)
let g:WhichKeyDesc_Tab = "<leader>t Tab management"
" new
map <leader>n <Action>(Generate)
" Show info
map <leader>se <Action>(ShowErrorDescription)
map <leader>si <Action>(ShowIntentionActions)
map <leader>sd <Action>(QuickJavaDoc)
map <leader>ss <Action>(FileStructurePopup)
map <leader>su <Action>(ShowUsages)
let g:WhichKeyDesc_Show = "<leader>s Show information"
" Go to
map <leader>gd <Action>(GotoDeclaration)
map <leader>gt <Action>(GotoTypeDeclaration)
map <leader>gs <Action>(GotoSuperMethod)
map <leader>gi <Action>(GotoImplementation)
map <leader>gT <Action>(GotoTest)
map <leader>gf <Action>(GotoFile)
map <leader>gr <Action>(RecentFiles)
map <leader>gR <Action>(RecentChangedFiles)
let g:WhichKeyDesc_GoTo = "<leader>g Go to"
" Refactoring
map <leader>r <Action>(Refactorings.QuickListPopupAction)
" Application
map <leader>ar <Action>(Run)
map <leader>as <action>(Stop)
map <leader>ad <Action>(Debug)
let g:WhichKeyDesc_Application = "<leader>a Application"
" Method navigation
map [ <Action>(MethodUp)
map ] <Action>(MethodDown)
" Collapsing & Expanding
map <C-[> <Action>(CollapseRegion)
map <C-]> <Action>(ExpandRegion)
" Comment
map <leader>c <Action>(CommentByLineComment)
map <leader>C <Action>(CommentByBlockComment)
" open terminal
map <leader><CR> <Action>(ActivateTerminalToolWindow)

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Nerdtree
Plug 'preservim/nerdtree'
nnoremap <leader>p :NERDTreeToggle<CR>
" Surround
Plug 'tpope/vim-surround'
